*{
    padding: 0;
    margin: 0;
}
.appli-cont{
    border:1px solid #D3D3D3;
    padding: 60px 15px;
    h5{
        font-size: 16px;
        font-weight:bolder;
        padding-bottom: 30px;
    }
    p{
        font-size: 14px;
        text-indent: 28px;
        a:hover{
            color: darkblue;
            text-decoration:none;
        }
    }
    h4{
        font-size: 18px;
        color: grey;
        font-weight: bolder;
        padding-left: 28px;
    }
    h6{
        font-size: 14px;
        a{
            padding-left: 15px;
        }
        a:hover{
            text-decoration: none;
            
        }
    }
}



/* 精彩活动的css */

.exc-cont {
    border: 1px solid #D3D3D3;
    padding: 20px 15px;
    
   img{
       max-width: 100%;
       height: auto;
       
       text-align: center;
   }
}
.exc-cont-a{
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 51, 96,0.5);
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.ss:hover .exc-cont-a{
    opacity: 1;
   transition: 1s ease;
}
.exc-cont-a:hover{
    text-decoration: none;
}
.exc-cont-p{
    padding-top: 30%;
}

/* shiziduiwu */
.faculty-cont{
    padding: 80px;
    border: 1px solid #D3D3D3;
    h3{
        float: left;
        margin-right: 20px;
    }
    
}

.faculty-cont-boot h5{
        font-size: 18px;
        font-weight: bolder;
        color: darkblue;
        
}
.faculty-cont-boot p{
    font-size: 16px;
}