.abou-you h4{
    color: #505558;
    font-size: 28px;
    font-size: 300;
    line-height: 70px;
}
.abou-you p{
    color: #939fa6;
    font-size: 14px;
    line-height: 26px;
}
.about-lantu{
    text-align: center;
    margin-top:40px;
   
}

.about-lantu img{
    
    max-width: 100%;
    height: auto;
    padding-top: 10px;
    
}
.lantu-img{
    animation: luntuimg 5s linear 300ms infinite alternate;
}
@keyframes luntuimg{
    from {transform: rotateY(0deg);}
    to {transform: rotateY(130deg);}
}
.lantu-img1, .lantu-img2, .lantu-img3, .lantu-img4, .lantu-img5, .lantu-img6{
    display: none;
}


/* 关于portfolio的css样式 */

.por-firstleft-1{
    text-align: center;
    width: 100%;
    height: auto;
}
.por-fl-top{
    border-bottom: 1px solid #A9A9A9;
}
.por-fl-h4 a{
    font-size: 22px;
     font-weight: 300;
     color: #505558;
}
.por-fl-h4 a:hover{
    text-decoration: none;
    color: #0000FF;
}
.por-fl-p{
    color: #939fa6;
    padding-bottom: 20px;
}
.por-fl-h5{
    font-size: 20px;
    font-weight: 300;
    color: #505558;
    margin-top: 10px;
}
.por-fl-p1{
    font-size: 14px;
    color: #505558 ;
}
.por-fl-p1 span{
    color: #939fa6;
    margin-left: 3px;
}
.por-fl-bottom a{
    color: #0000FF;
}
.por-fl-bottom{
    margin-top: 15px;
    margin-bottom: 30px;
}
.por-fl-bottom a:hover{
    text-decoration: none;
    color: #191970;
}
.por-fl-bottom i{
    color: #0000FF;
}


/* 关于Features'的css样式' */
.feat-pric{
    color: #2F3238;
    font-size: 26px;
    font-weight: 300;
    margin-left: 30px;
}
.hengxian-pric{
    width: 60px;
    height: 2px;
    background: rgb(86, 185, 255);
    margin-left: 30px;
    margin-top: 15px;
}

.feat-ul ul li{
    border: 1px solid #A9A9A9;
    /* border-radius: 5px; */
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.feat-ul ul li a{
    color: white;
    display: block;
    width: 120px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    background-color: #1D7DB1;
    
}
.feat-ul ul li a:hover{
    color:white;
    text-decoration: none;
    background-color: #C0C0C0;
}
.fea-bt-top{
    /* margin-top: 20px; */
    width: 100%;
    height: auto;
    text-align: center;
}
.featbt-a{
    display: block;
    padding: 20px 25px;
    font-size: 18px;
    line-height: 20px; 
    font-weight: 300;
    margin: 10px;
    float: left;
    text-align: center;
    border-radius: 3px;
    
}
.featbt-a1{
    background: #fff;
    border: 1px solid #e6ebed;
    color: #505558;
}
.featbt-a1:hover{
    text-decoration: none;
    border: 1px solid #505558;
    color: #505558;
}
.featbt-a2{
    background: #056ab2;
    
    color: white;
}
.featbt-a2:hover{
    text-decoration: none;
    color: white;
    background:#505558 ;
}
.featbt-a3{
    background:#505558 ;
    color: white;
}
.featbt-a3:hover{
    background: #056ab2;
    text-decoration: none;
    color: white;
}
.featbt-a4{
    background: #f2f4f5;
    border: 1px solid #f2f4f5;
    color: #505558;
}
.featbt-a4:hover{
    background:#505558 ;
    color: white;
    text-decoration: none;
}
.featbt-a5{
    background: #25bfba;
    border: 1px solid #25bfba;
    color: #fff ;
}
.featbt-a5:hover{
    background:#505558 ;
    color: white;
    text-decoration: none;
}
.featbt-a6{
     background: #25bf80;
    border: 1px solid #25bf80;
    color: #fff;
}
.featbt-a6:hover{
    background:#505558 ;
    color: white;
    text-decoration: none;
}
.featbt-aa{
    
    display: block;
    padding: 15px 25px;
    font-size: 18px;
    line-height: 20px; 
    font-weight: 300;
    margin: 10px;
    float: left;
    text-align: center;
    border-radius: 3px;

}
.featbt-3a{
    display: block;
    padding: 10px 25px;
    font-size: 18px;
    line-height: 20px; 
    font-weight: 300;
    margin: 10px;
    float: left;
    text-align: center;
    border-radius: 3px;
}
.featbt-4a, .featbt-5a{
    display: block;
    padding: 7px 25px;
    font-size: 18px;
    line-height: 20px; 
    font-weight: 300;
    margin: 10px;
    float: left;
    text-align: center;
    border-radius: 3px;
}
 .featbt-5a{
     display: block;
     padding: 7px 25px;
     font-size: 18px;
     line-height: 20px; 
     font-weight: 300;
     margin: 10px;
     float: left;
     text-align: center;
     border-radius: 20px;
 }
  .feat-table{
      margin-top: 40px;
  }
 .feat-table th{
    font-family: Roboto;
    font-weight: 300;
    font-size: 20px;
    color: #505558;
    text-align: left;
    border: 1px solid #e6ebed;
    background: #f2f4f5;
    padding: 10px 30px;
 }
  td{
   color: #939fa6;
  }
  .feat-table2 th{
    font-family: Roboto;
    font-weight: 300;
    font-size: 20px;
    color: #505558;
    text-align: left;
    border: 1px solid #e6ebed;
    background:rgb(5, 106, 178);
    padding: 10px 30px;
 }
 .feat-knobs{
     border-bottom: 1px solid #C3C8CD;
     padding-bottom: 20px;
     margin-bottom: 40px;
     margin-left: 0px;
    
 }
 .feat-jdtw{
     margin:15px;
 }
.feat-jdtw p{
     float:left;
     color: grey;
 }
.feat-jdtw span{
     float:right;
     color: grey;
 }
 .feat-abct{
     width: 100%;
     padding: 7px 15px;
     margin-top: 15px;
 }
 .feat-abct a{
      text-decoration: none;
      float: right;
 }
.feat-abct a:hover{
    text-decoration: none;
}
.feat-abc-1{
     
    background: #e9f5ea;
    color: #72a477;
    border: 1px solid #cbe1cd;
 }
 
.feat-abc-1  a{
      color:#72a477 ;  
  }
 .feat-abc-2{
     background: #e9f2f5;
    color: #69aecb;
    border: 1px solid #cbdce1;
 }
 .feat-abc-2 a{
    color:#69aecb ;
  }
  .feat-abc-3{
      
    background: #f5f0e9;
    color: #ae7c36;
    border: 1px solid #e7d5c0;
 }
  
 .feat-abc-3  a{
     color: #ae7c36;  
 }
.feat-abc-4{
    background: #f5e9e9;
    color: #d3432c;
    border: 1px solid #e5c9c9;
  }
.feat-abc-4 a{
      color: #d3432c;
 }